.root {
    -fx-background-color: linear-gradient(to right, #03142A, derive(#1F1158, 30%));
}

.boxbg {
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}
.hexagon {
    -fx-shape: "M 0,50 25,0 75,0 100,50 75,100 25,100 Z";
    -fx-background-color: linear-gradient(to right, #03142A, derive(#1F1158, 30%));
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 2px;
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, red, 5, 0, 0, 0);

}
